<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.app.koreq.commlistview"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="commlistview.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.CommListActivity">
        </activity>
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HttpTestAct">
        </activity>
        <activity android:name=".activity.widget.PairScrollAct">
        </activity>
        <activity android:name=".activity.RxJavaActivity">
        </activity>
        <activity android:name=".activity.NetFrameActivity">
        </activity>
        <activity
            android:name=".activity.TreeDecryptActivity"
            android:label="@string/title_activity_tree_decrypt"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".activity.AopActivity"
            android:label="@string/title_activity_aop"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity android:name=".activity.widget.PsdInputActivity">
        </activity>
        <activity android:name=".activity.widget.PopWinActivity">
        </activity>
        <activity android:name=".activity.widget.LoadingActivity">
        </activity>
        <activity android:name=".activity.widget.CustomViewActivity">
        </activity>
        <activity android:name=".activity.EmbedActivity">
        </activity>
        <activity android:name=".activity.QRCodeActivity">
        </activity>
        <activity
            android:name=".activity.SoftInputModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"
            >
        </activity>
        <activity android:name=".activity.SettingActivity">
        </activity>
    </application>

</manifest>